<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %> - <%= r.weight %> - <%= r.height %> - <%= r.fly %>
           - <%= r.fight %> - <%= r.fire %> - <%= r.water %> - <%= r.electric %> - <%= r.ice %> - <%= r.total %>
           - <%= r.trainer %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
