<!DOCTYPE html>

<html>
	<head>
		<title>Tokidex-Display</title>

		<link rel="stylesheet" href="tokidex.css" />

		<script type="text/javascript" src="home.js"></script> 
	</head>

	<body>
			<header> 
					<h1>Display Tokimon</h1>
					<div><a href="home.html">Home</a></div>
					<div><a href="tokidex.html">Complete Tokidex</a></div>
					<div><a href="register.html">Register Tokimon</a></div>
			</header>
			<% results.forEach(function(r) {  %>

			<main style='background-image:linear-gradient(#000000 0%, rgba(255, 0, 0, <%= r.fire/100 %>) <%=100/7%>%, rgba(255,128,0,<%= r.fight/100%>) <%=200/7%>%, rgba(255,255,0,<%= r.electric/100%>) <%=300/7%>%, rgba(0,255,0, <%= r.fly/100 %>) <%=400/7%>%, rgba(0,255,255,<%= r.ice/100%>) <%=500/7%>%, rgba(0,0,255,<%= r.water/100%>) <%=600/7%>%, #000000 100%);'>
				<form id='tokiform' method='POST'>
				<input type='hidden' id= 'hiddenField' name='id' value=<%= r.id %> />
				<p id="id">Tokimon ID: <br><%= r.id %></p>				
				<p>Tokimon Name:<br><input type="text" id="name" value= "<%= r.name %>" name ="name" required pattern=".*\S.*" oninvalid="this.setCustomValidity('Enter your Tokimon\'s name.')" oninput="this.setCustomValidity('')"/></p>
				<p>Height:<br><input type="number" id="height" name="height" value=<%= r.height %> min=0 required onchange="fixHWInput(this)"/></p>
				<p>Weight:<br><input type="number" id="weight" name="weight" value=<%= r.weight %> min=0 required onchange="fixHWInput(this)"/></p>
				<p>Fly:<br><input type="number" id="fly" name="fly" value=<%= r.fly %> min=0 max=100 required onfocus="this.old=this.value;" onchange="fixTypeInputUpdate(this)"/></p>
				<p>Fight:<br><input type="number" id="fight" name="fight" value=<%= r.fight %> min=0 max=100 required onfocus="this.old=this.value;" onchange="fixTypeInputUpdate(this)"/></p>
				<p>Fire:<br><input type="number" id="fire" name="fire" value=<%= r.fire %> min=0 max=100 required onfocus="this.old=this.value;" onchange="fixTypeInputUpdate(this)"/></p>
				<p>Water:<br><input type="number" id="water" name="water" value=<%= r.water %> min=0 max=100 required onfocus="this.old=this.value;" onchange="fixTypeInputUpdate(this)"/></p>
				<p>Electric:<br><input type="number" id="electric" name="electric" value=<%= r.electric %> min=0 max=100 required onfocus="this.old=this.value;" onchange="fixTypeInputUpdate(this)"/></p>
				<p>Ice:<br><input type="number" id="ice" name="ice" value=<%= r.ice %> min=0 max=100 required onfocus="this.old=this.value;" onchange="fixTypeInputUpdate(this)"/></p>
				<p>Total:<br><input type="number" id="total" value=<%= r.total %> disabled/></p>
				<p>Trainer Name:<br><input type="text" id="trainer" name="trainer" value="<%- r.trainer %>" required pattern=".*\S.*" oninvalid="this.setCustomValidity('Enter your name.')" oninput="this.setCustomValidity('')"/></p>
				<input type="button" value="Save Changes" onclick="submitChange()"/>
				<input type="button" value="Delete" onclick="deleteEntry()"/>

						<% }); %>

				</form>
			</main>


			<footer> &nbsp; </footer>


	</body>

	
	
	
</html>


