<!DOCTYPE html>

<html>
	<head>
		<title>Tokidex-Complete</title>

		<link rel="stylesheet" href="tokidex.css" />

		<script type="text/javascript" src="home.js"></script> 
	</head>

	<body>
			<header> 
					<h1>Complete Tokidex</h1>
					<div><a href="home.html">Home</a></div>
					<div><a href="display.html">Display Tokimon</a></div>
					<div><a href="register.html">Register Tokimon</a></div>
			</header>

			<main>
				<form action="sort" method="post">
				<h1>View all Tokimon</h1>

				<p>To change the way the Tokidex is sorted, select which attribute to sort by and whether you prefer
					an ascending or descending sort on that attribute.	</p>

				<select id="sortAtt" name="sortAtt" value="<%= att %>" >
						<option value="id">Id</option>
						<option value="name">Name</option>
						<option value="height">Height</option>
						<option value="fly">Fly</option>
						<option value="fight">Fight</option>
						<option value="fire">Fire</option>
						<option value="water">Water</option>
						<option value="electric">Electric</option>
						<option value="ice">Ice</option>
						<option value="total">Total</option>
						<option value="trainer">Trainer</option>
				</select>

				<select id="sortType" name="sortType" >
						<option value="ASC" %>"  %>">Ascending</option>
						<option value="DESC" %>">Descending</option>
				</select>
				
				<input type="submit" value="Sort"/>

				<br>

				<table>
					<tr>
						<th>ID</th>
						<th>Tokimon Name</th>
						<th>Weight</th>
						<th>Height</th>
						<th>Fly</th>
						<th>Fight</th>
						<th>Fire</th>
						<th>Water</th>
						<th>Electric</th>
						<th>Ice</th>
						<th>Total</th>
						<th>Trainer Name</th>
					</tr>

					<% results.forEach(function(r) { %>
						<tr>
							<th><%= r.id %></th>
							<th><%= r.name %></th>
							<th><%= r.weight %></th>
							<th><%= r.height %></th>
							<th><%= r.fly %></th>
						  <th><%= r.fight %></th>
						  <th><%= r.fire %></th>
						  <th><%= r.water %></th>
						  <th><%= r.electric %></th>
						  <th><%= r.ice %></th>
						  <th><%= r.total %></th>
						  <th><%= r.trainer %></th>
						</tr>
					<% }); %>

				</table>

				</form>
			</main>


			<footer> &nbsp; </footer>


	</body>
</html>